<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Login/Registro
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngIf="operation == 'register'">
      <ion-label fixed>Nombre</ion-label>
      <ion-input [(ngModel)]="user.nombre" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Email</ion-label>
      <ion-input [(ngModel)]="user.email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Password</ion-label>
      <ion-input [(ngModel)]="user.password" type="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="operation == 'register'">
      <ion-label fixed>Repetir</ion-label>
      <ion-input [(ngModel)]="user.password2" type="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="operation == 'register'">
      <ion-label>Calle</ion-label>
      <ion-select [(ngModel)]="user.street">
        <ion-option *ngFor="let st of streets" [value]="st">{{st.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="operation == 'register'">
      <ion-label floating>Número</ion-label>
      <ion-input [(ngModel)]="user.street_number" type="number"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <span (click)="operation = 'login'" *ngIf="operation == 'register'">Ya tienes cuenta? Click Aquí</span>
    <span (click)="operation = 'register'" *ngIf="operation == 'login'">Aun no tienes cuenta? Click Aquí</span>
    <hr />
    <button *ngIf="operation == 'login'" ion-button (click)="login()" block>Ingresar</button>
    <button *ngIf="operation == 'register'" ion-button (click)="register()" block>Registrarse</button>
  </div>
</ion-content>
