<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93635767567-fb950r922u9oj77ual9lag2d7m2n5h2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93635767567-fb950r922u9oj77ual9lag2d7m2n5h2g</string>
	<key>API_KEY</key>
	<string>AIzaSyAfQHlBlOrByMaIuBavU5FPc_IvdNN689k</string>
	<key>GCM_SENDER_ID</key>
	<string>93635767567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asp.app</string>
	<key>PROJECT_ID</key>
	<string>directorioasp</string>
	<key>STORAGE_BUCKET</key>
	<string>directorioasp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93635767567:ios:7dfa57ada8ee442297a27a</string>
	<key>DATABASE_URL</key>
	<string>https://directorioasp.firebaseio.com</string>
</dict>
</plist>