<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Registro de Visita</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <div padding>
      <button ion-button full (click)="scanQR()" color="primary">Escannear</button>
    </div>

    <div *ngIf="visit?.street" class="center">
      <h2>{{visit?.visitor_name}} -> {{visit?.visited_name}} @{{visit?.street?.name}} {{visit?.street_number}}</h2>
      <h4>{{visit?.date | date}}</h4>
    </div>

    <div *ngIf="visit?.street" padding>
      <button ion-button full (click)="confirmVisit()" color="secondary">Validar Visita</button>
    </div>
  </ion-list>
</ion-content>
