<ion-header>

  <ion-navbar color="secondary">
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding>
    <button *ngIf="!isLogged()" ion-button (click)="showLogin()" block>Ingresar/Registrarse</button>
  </div>

  <ion-card *ngIf="isLogged()">
    <ion-item>
      <ion-avatar item-start>
        <img src="https://as2.ftcdn.net/jpg/01/92/73/47/500_F_192734702_5zrD2rTQ3CloU9hZkkqrJSbjzcTiYy1U.jpg">
      </ion-avatar>
      <h2>{{user?.nombre}} - {{addressDetails?.street?.name}} {{addressDetails?.number}}</h2>
      <p><b>{{user?.email}}</b></p>
    </ion-item>

    <img src="assets/banner.jpg">

    <ion-card-content>
      <p *ngIf="this.user?.moroso">
        <b style="color: darkred">Usted tiene un adeudo de {{this.user?.moroso?.debt | currency}}</b>, favor de saldarlo a la brevedad.
      </p>
      <p *ngIf="user?.champion">
        <ion-badge color="primary">
          Representante
        </ion-badge>
        Usted puede votar
      </p>
      <div *ngIf="user && !user.phone">
        <b>Si desea registrar su número de teléfono en caseta en caso de tener visitas inesperadas o alguna emercencia ocurra en su domicilio:</b>
        <button ion-button (click)="registerPhoneNumber()" block>Registrar mi Teléfono</button>
      </div>
      <hr />
      <div *ngIf="user && user.phone">
        <p>Su teléfono registrado es <b>{{user.phone}}</b>, si desea cambiarlo:</p>
        <button ion-button (click)="registerPhoneNumber()" block>Modificar mi Teléfono</button>
      </div>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button (click)="getUser()" ion-button clear small color="success" icon-start>
          <ion-icon name='star'></ion-icon>
          Actualizar Usuario
        </button>
      </ion-col>
      <ion-col text-right>
        <button (click)="logout()" ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Cerrar Sesión
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
