<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Registro de Visita</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <div padding>
      <button ion-button full (click)="scanQR()" color="primary">Escannear</button>
    </div>

    <div *ngIf="visit?.street" class="center">
      <h2 *ngIf="visit?.visited && !visit?.path?.includes('frequent_visits')">[ESTA VISITA INGRESÓ PREVIAMENTE]</h2>
      <h2 *ngIf="visit?.path?.includes('frequent_visits')">[VISITANTE FRECUENTE]</h2>
      <h2 *ngIf="visit?.moroso?.debt" style="color: darkred">
        El residente cuenta con adeudo <b>${{visit?.moroso?.debt}}</b>
      </h2>
      <h2>{{visit?.visitor_name}} -> {{visit?.visited_name}} @{{visit?.street?.name}} {{visit?.street_number}}</h2>
      <h3>{{visit?.date | date}}</h3>
    </div>

    <div *ngIf="visit?.street" padding>
      <ion-item>
        <ion-label fixed>Marbete</ion-label>
        <ion-input type="text" [(ngModel)]="visit.marbete"></ion-input>
      </ion-item>
      <button [disabled]="visit?.visited && !visit?.path?.includes('frequent_visits')" ion-button full (click)="confirmVisit()" color="secondary">Validar Visita</button>
    </div>
  </ion-list>
</ion-content>
