<!--
  Generated template for the EventosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Evento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label fixed>Tipo</ion-label>
      <ion-select [disabled]="!isAdmin" [(ngModel)]="event.type">
        <ion-option *ngFor="let type of types">{{type}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="isAdmin">
      <ion-label fixed>Calle</ion-label>
      <ion-select [disabled]="!isAdmin" [(ngModel)]="event.calle">
        <ion-option *ngFor="let calle of calles">{{calle}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="isAdmin">
      <ion-label fixed>Número</ion-label>
      <ion-input [disabled]="!isAdmin" [(ngModel)]="event.numero" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fecha del Evento</ion-label>
      <ion-datetime [disabled]="!isAdmin" min="2018-01-01" max="2022-12-31" displayFormat="DD-MMMM-YYYY" pickerFormat="DD-MMMM-YYYY" [(ngModel)]="event.dateStarts"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Hora de Inicio</ion-label>
      <ion-datetime [disabled]="!isAdmin" displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Hora de Fin</ion-label>
      <ion-datetime [disabled]="!isAdmin" displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeEnds"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="isAdmin">
      <ion-label fixed>Nombre</ion-label>
      <ion-input [disabled]="!isAdmin" [(ngModel)]="event.nombre" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="isAdmin">
      <ion-label fixed>Teléfono</ion-label>
      <ion-input [disabled]="!isAdmin" [(ngModel)]="event.telefono" type="tel"></ion-input>
    </ion-item>
  </ion-list>
  <div padding *ngIf="isAdmin">
    <button ion-button (click)="saveEvent()" block>Guardar</button>
    <button *ngIf="editing" ion-button (click)="deleteEvent()" color="danger" block>Eliminar</button>
  </div>
</ion-content>
