<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{survey?.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <b>Hola {{user?.nombre}} ({{user?.street}} {{user?.number}})</b>
  <div *ngIf="isChampion">
    <h4>{{survey?.question}}</h4>
    <p *ngIf="previousAnswer">Usted ha votado por la opción <b>[{{previousAnswer.choice}}]</b>, elegir de nuevo invalidará su respuesta previa.</p>
    <ion-list radio-group [(ngModel)]="selectedOption">
      <div *ngFor="let option of survey?.options">
        <ion-item selected *ngIf="option?.id">
          <ion-label><b>[{{option?.id}}]</b> {{option?.name}}</ion-label>
          <ion-radio value="{{option?.id}}"></ion-radio>
        </ion-item>
      </div>
    </ion-list>
    <button ion-button (click)="saveAnswer()" block>Votar</button>
  </div>
  <div *ngIf="!isChampion">
    <h4>Usted no es el representante de su domicilio. Si desea darse de alta como representante o cambiar el existente, favor de contactar a un miembro del comité o a Eduardo de la Cruz y enviarle este identificador: {{user?.uid.substring(0,5)}}</h4>
  </div>
</ion-content>
