<!--
  Generated template for the ResetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Recuperar Password
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <p><b>Vecin@, por favor ingrese su correo electrónico y le enviaremos un formulario para que recupere su contraseña.</b></p>
  <ion-list>
    <ion-item>
      <ion-label fixed>Email</ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button *ngIf="operation == 'resetPassword'" ion-button (click)="resetPassword()" [disabled]="!email" block>Recuperar Contraseña</button>
    <button *ngIf="operation == 'resetPassword'" ion-button (click)="goBack()" color="secondary" block>Cancelar</button>
  </div>
</ion-content>
