<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Anuncios
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="irAAnuncio('new')">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="query"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <!--<ion-item-sliding *ngFor="let anuncio of anuncioes | myfilter:query | sortBy : 'nombre'">-->
    <ion-item-sliding *ngFor="let anuncio of anuncios | myfilter:query | sortBy : 'nombre'">
      <ion-item (click)="seleccionarAnuncio(anuncio)">
        <h1>{{anuncio.titulo}}</h1>
        <h3>{{anuncio.descripcion}}</h3>
        <p>{{anuncio.tipo}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button expandable (click)="deleteItem(anuncio)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
